.hinh{
    text-align: center;
    color:rgb(254, 236, 226) ;
    background-color: rgb(226, 191, 179);
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    height: 170px;
}
body{
    text-align: center;
    padding: 200px;
}
.pheptinh{
    width: 86px;
    padding: 3px;
    text-align: center;
    background-color:rgb(254, 251, 216);
    border-radius: 4px;
    font-size: 15px;
}